html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.welcome-text {
  font-family: "Ma Shan Zheng", cursive;
  text-align: center;
  font-size: 64px;
}
.welcome-text-subheading {
  font-family: "Ma Shan Zheng", cursive;
  text-align: center;
  font-size: 26px;
}

.menu {
  margin: 0 auto;
  width: 80%;
}

.menu-category {
  margin-bottom: 20px;
}

.menu-item-description {
  font-size: 14px;
}

.itemTag {
  /* width: 30px;
height: 30px; */
  background-color: yellow;
  color: black;
}

.menu_img {
  margin: 20px;
}

.footer-text {
  text-align: center;
}
